<md-content class="md-padding" flex="80">
	<img ng-src="{{pic.image.src}}" alt="Xe tập đi" />

	<div ng-repeat="comment in pic.image.comments track by comment.id">
		<div>{{comment.text}}</div>
		<div>By {{comment.userName}}</div>
	</div>


    <form layout="column"   style="margin-top : 20px;">
      <md-input-container>
        <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
        <input type="textarea" ng-model="pic.comment.text"
               placeholder="Comment" aria-label="Comment"/>
      </md-input-container>

      
      <md-button class="md-raised md-primary"
                 ng-click="pic.comment()">Comment
      </md-button>

    </form>

</md-content>