<div ng-cloak flex="80">
  <md-content class="md-padding" flex="80">
    <md-tabs md-dynamic-height md-border-bottom>
      
      <md-tab label="pet profile">
       <md-content class="md-padding">
          <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;"  ng-cloak >
            <md-whiteframe class="md-whiteframe-24dp" flex="40" layout layout-align="center center"  >
              <span>
                 <img ng-src="{{pvc.pet.profile.profilePhoto}}" alt="Xe tập đi" height="450px" width="350"/>
              </span>
             </md-whiteframe>

            <md-whiteframe class="md-whiteframe-24dp" flex="40" layout="column" layout-align="center"  >
              <div>
             
                <h2>{{pvc.pet.profile.name}}</h2>&nbsp;&nbsp;&nbsp;
                <p> {{pvc.pet.profile.age}} years </p>&nbsp;&nbsp;&nbsp;
                <p>{{pvc.pet.profile.type}}</p>
              </div>

               <div>
               <div class="md-button">
                  <h4> Your Rate :</h4> <rating score="userRate" max="5" ></rating>
                </div>
                <div class="md-button">
                  <h4>Rate Average :</h4> <rating score="pvc.pet.rateAVG()" max="5" ></rating>
                </div>
                
                <md-switch ng-show="pvc.isOwner()" ng-model="pvc.pet.forSale" aria-label="For Sale">
                  For Sale
                </md-switch>

    

                 <md-button><h5> Distance : <distance origin="$root.currentUser.profile.zipCode" destination="pvc.pet.zipCode()"></distance> </h5></md-button>

               </div>

              
             </md-whiteframe>


          </div>


       </md-content>
      </md-tab>





      <md-tab label="Photos">
        <md-content class="md-padding">
          <h2> 
            <div>{{pvc.pet.profile.name}}</div>
          </h2>

          <form layout="column" ng-show="pvc.isFamilyMember()" style="margin-top : 20px;">
            <md-input-container>
              <md-icon md-svg-icon="image:ic_photo_24px"></md-icon>
              <input type="text" ng-model="pvc.image.src"
                     placeholder="Image" aria-label="Image"/>
            </md-input-container>

            
            <md-button  class="md-raised md-primary"
                       ng-click="pvc.addImage()">Add Image
            </md-button>

          </form>
         
          <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;"  ng-cloak >
            <md-whiteframe ng-repeat="image in pvc.pet.profile.photos" class="md-whiteframe-24dp" flex="25" layout layout-align="center center"  >
              <span>
                <a href="/image/{{$root.pet._id}}/{{image.id}}">
                   <img ng-src="{{image.src}}" alt="Xe tập đi" flex="50" width="220" height="160"/>
                </a>
               
              </span>
              
            </md-whiteframe>
          </div>


          


          


        </md-content>
      </md-tab>


    </md-tabs>

    

  </md-content>


</div>