<div ng-cloak flex="80">
  <md-content class="md-padding" flex="80">
     
     <md-tabs md-dynamic-height md-border-bottom>
      
      

      <md-tab label="profile">
        <md-content class="md-padding">

          <div ng-controller="proCtrl"  ng-cloak>

            <md-content class="md-padding">
            <md-card>
                        
              <img ng-src="{{$root.currentUser.profile.profilePhoto}}"  class="md-card-image" alt="Xe tập đi" />

               <md-card-content>
                 <div><md-button><h2 class="md-title">about me</h2></md-button></div>
                <p>
                 <div style="background-color:#BFA6BF;">
                  <div>{{$root.currentUser.profile.name}}</div>
                  <div>{{$root.currentUser.profile.age}}</div>
                  <div>{{$root.currentUser.email}}</div>
                 </div>
                 <br>

                 <div>{{$root.currentUser.profile.about}}</div>

                </p>
              </md-card-content>
              
            </md-card>
          </md-content>   

        </div>


        </md-content>
      </md-tab>


     

      <md-tab label="my pets">
        <md-content class="md-padding">
          <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;"  ng-cloak >
            <md-whiteframe ng-repeat="pet in pc.userPets" class="md-whiteframe-24dp" flex="25" layout layout-align="center center"  >
              <span>
                <a href="pet/{{pet._id}}">
                  <img alt="{{ pet.profile.name }}" ng-src="{{ pet.profile.profilePhoto }}" class="md-avatar" flex="50" width="220" height="150"/>
                </a>
                <h4> <p>{{ pet.profile.name }}</p></h4>
              </span>
              
            </md-whiteframe>
          </div>
          <md-button ui-sref="addPet">Add Pet</md-button>
        </md-content>
      </md-tab>-->




      <md-tab label="family pets">
        <md-content class="md-padding">
          
          <md-list  ng-cloak>
            <md-subheader class="md-no-sticky">Family Pets</md-subheader>
            <md-list-item ng-repeat="pet in pc.familyPets" >
              <img alt="{{ pet.profile.name }}" ng-src="{{ pet.profile.profilePhoto }}" class="md-avatar" />
              <p>{{ pet.profile.name }}</p>
             
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>

    </md-tabs>

  </md-content>
</div>